<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Thank you for booking</h1>
<p>
  you booking room number <%= @roomno %>.<br>
  you booking building name <%= @building %>.<br>
  you booking time  is on <%= @starttime %>  to <%= @endtime %>.<br>
</p>
<p>Thanks for using our service, Have a great day</p>
</body>
</html>